<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Product Manager</title>
</head>
<body>
	<div align="center">
		<h1>Product Manager</h1>
		<table border="1">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>MadeIn</th>
					<th>Price</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<th th:text="${product.id}">Product ID</th>
					<th th:text="${product.name}">Name</th>
					<th th:text="${product.brand}">Brand</th>
					<th th:text="${product.madein}">MadeIn</th>
					<th th:text="${product.price}">Price</th>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>